/*Formatting in CSS, again I am very new to this*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;}
h2 {
    background-color: black;
    color: white;}
p {
    background-color: white;
}